:root{

  --step-up-5: 2em;
  --step-up-4: 1.7511em;
  --step-up-3: 1.5157em;
  --step-up-2: 1.3195em;
  --step-up-1: 1.1487em;
  /* baseline: 1em */
  --step-down-1: 0.8706em;
  --step-down-2: 0.7579em;
  --step-down-3: 0.6599em;
  --step-down-4: 0.5745em;
  --step-down-5: 0.5em;

}

html{
    user-select: none;
    touch-events:none;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
  touch-action: none;
	overflow: hidden;

}

.appContentContainer{
	max-width: 400px;
	height:100vh;
	padding:16px;
	margin:auto;
  padding-top:54px;
}

*{
  touch-action: manipulation;
	font-size:16px;
	margin:0;
}

.appNameContainer{
  z-index: 100000000;
  display: flex;
  align-items: center;
  justify-content: center; 
  width:100vw;
  height:42px;
 position:fixed;
    top:0;
    left:0;
  .me{
   
    text-align: center;
    font-size:20px;
    color:#fff;
    font-weight: bold;
}
}